absl-py==1.3.0
accelerate==0.24.1
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.16
altair==5.1.2
annotated-types==0.6.0
ansi2html==1.8.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
av==10.0.0
Babel==2.11.0
backcall==0.2.0
bcrypt==4.1.1
beautifulsoup4==4.11.1
bidict==0.22.1
bleach==5.0.1
blinker==1.7.0
blobfile==2.1.1
boto3==1.29.4
botocore==1.32.4
braceexpand==0.1.7
cachetools==5.2.0
carvekit-colab==4.1.0
certifi==2024.2.2
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cmake==3.27.7
colabcode==0.3.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
comet-ml==3.35.2
comm==0.1.4
ConfigArgParse==1.7
configobj==5.0.8
contourpy==1.0.7
cryptography==41.0.5
cycler==0.11.0
dash==2.14.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dearpygui==1.10.1
debugpy==1.6.4
debugpy-run==1.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
descartes==1.1.0
diffusers==0.21.4
dill==0.3.6
distlib==0.3.7
distro==1.9.0
dj-database-url==2.2.0
Django==5.0.7
django-cors-headers==4.4.0
django-heroku==0.3.1
djangorestframework==3.15.2
docker-pycreds==0.4.0
docstring-parser==0.14.1
docutils==0.20.1
dulwich==0.20.45
easydict==1.11
editables==0.5
einops==0.7.0
embreex==2.17.7.post3
entrypoints==0.4
etils==0.9.0
everett==3.1.0
exceptiongroup==1.2.0
executing==1.2.0
fastapi==0.104.1
fastcore==1.5.29
fastjsonschema==2.16.2
ffmpy==0.3.1
filelock==3.12.4
fire==0.5.0
Flask==3.0.2
flatbuffers==23.5.26
fonttools==4.38.0
fqdn==1.5.1
freqencoder @ file:///C:/Users/handj/stable-dreamfusion/freqencoder
frozendict==2.3.8
frozenlist==1.4.0
fsspec==2023.9.2
ftfy==6.1.1
gast==0.4.0
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.3
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
googleapis-common-protos==1.57.0
GPUtil==1.4.0
gradio==4.1.2
gradio_client==0.7.0
gridencoder @ file:///C:/Users/handj/stable-dreamfusion/gridencoder
grpcio==1.51.1
gunicorn==22.0.0
h11==0.14.0
h5py==3.7.0
hatch==1.7.0
hatchling==1.18.0
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.17.3
humanfriendly==10.0
humanize==4.8.0
hyperlink==21.0.0
idna==3.6
imageio==2.31.6
imageio-ffmpeg==0.4.7
imagesize==1.4.1
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==6.8.0
importlib-resources==5.10.1
iniconfig==2.0.0
install==1.3.5
ipykernel==6.17.1
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaxtyping==0.2.23
jedi==0.18.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.2.0
json5==0.9.10
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.1.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.1
keras==2.15.0
keyboard==0.13.5
keyring==24.3.0
kiwisolver==1.4.4
kornia==0.7.0
lazy_loader==0.3
libclang==14.0.6
Library==0.0.0
lightning-utilities==0.9.0
llvmlite==0.42.0
loguru==0.7.2
lovely-numpy==0.2.10
lovely-tensors==0.1.15
lpips==0.1.4
lxml==4.9.2
mapbox-earcut==1.0.1
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapy==1.1.9
mistune==2.0.4
ml-dtypes==0.2.0
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.7
msgpack-numpy==0.4.8
msvc-runtime==14.34.31931
multidict==6.0.4
natsort==8.4.0
nba_api==1.4.1
nbclassic==0.3.7
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nerfacc==0.5.2
nerfstudio==0.3.4
nest-asyncio==1.4.3
networkx==3.1
ninja==1.11.1.1
nodeenv==1.8.0
notebook==6.4.5
notebook_shim==0.2.2
numba==0.59.0
numpy==1.23.5
nuscenes-devkit==1.1.11
nvdiffrast @ git+https://github.com/NVlabs/nvdiffrast/@c5caf7bdb8a2448acc491a9faa47753972edd380
oauthlib==3.2.2
objaverse==0.1.5
omegaconf==2.3.0
onnxruntime==1.17.0
open-clip-torch==2.23.0
open3d==0.17.0
openai==1.30.3
opencv-python==4.6.0.66
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
orjson==3.9.10
overrides==7.4.0
packaging==21.3
pandas==2.1.3
pandocfilters==1.5.0
paramiko==3.3.1
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==4.0.0
plotly==5.17.0
pluggy==1.4.0
# Editable install with no version control (point-e==0.0.0)
-e c:\users\handj\downloads\point-e\point-e-main
pooch==1.7.0
portpicker==1.2.0
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.6
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.14
pybaseball==2.2.4
pycocotools==2.0.7
pycollada==0.7.2
pycparser==2.21
pycryptodomex==3.19.0
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
PyGithub==1.57
Pygments==2.17.2
PyJWT==2.6.0
pyliblzfse==0.4.1
PyMatting==1.1.12
PyMCubes==0.1.4
pymeshlab==2022.2.post4
PyNaCl==1.5.0
pyngrok==5.2.1
pyparsing==3.0.9
pyperclip==1.8.2
pyquaternion==0.9.9
pyreadline3==3.4.1
pyrsistent==0.19.2
PySocks==1.7.1
pytest==8.1.1
python-box==6.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.8.0
python-json-logger==2.0.7
python-multipart==0.0.6
python-socketio==5.10.0
pytorch-lightning==1.9.0
pytube==15.0.0
pytz==2022.6
pyvista==0.42.3
pywin32==305
pywin32-ctypes==0.2.2
pywinpty==2.0.9
PyYAML==6.0
pyzmq==24.0.1
rawpy==0.18.1
raymarching @ file:///C:/Users/handj/stable-dreamfusion/raymarching
referencing==0.30.2
regex==2023.10.3
rembg==2.0.54
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.12.0
rsa==4.9
Rtree==1.1.0
s3transfer==0.7.0
safetensors==0.4.0
scikit-commpy==0.8.0
scikit-image==0.22.0
scikit-learn==1.2.1
scipy==1.9.3
scooby==0.7.4
scp==0.14.5
-e git+https://github.com/Stability-AI/datapipelines.git@8bce77d147033b3a5285b6d45ee85f33866964fc#egg=sdata
seaborn==0.13.0
semantic-version==2.10.0
Send2Trash==1.8.2
sentencepiece==0.1.99
sentry-sdk==1.34.0
setproctitle==1.3.3
sgm @ file:///C:/Users/handj/Downloads/generative-models-main
# Editable install with no version control (shap-e==0.0.0)
-e c:\users\handj\downloads\shap-e-main
Shapely==1.8.5.post1
shellingham==1.5.4
shencoder @ file:///C:/Users/handj/stable-dreamfusion/shencoder
shtab==1.6.4
simple-websocket==1.0.0
simplegeneric==0.8.1
simplejson==3.19.2
six==1.12.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
SpeechRecognition==3.10.1
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
splines==0.3.0
sqlparse==0.5.1
stack-data==0.6.2
starlette==0.27.0
svg.path==6.3
sympy==1.12
taming-transformers-rom1504==0.0.6
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.15.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.28.0
tensorflow-metadata==1.12.0
termcolor==2.1.1
terminado==0.17.1
threadpoolctl==3.1.0
thundersvm==0.3.12
tifffile==2023.9.26
timm==0.6.7
tinycss2==1.2.1
tinycudann @ git+https://github.com/NVlabs/tiny-cuda-nn/@212104156403bd87616c1a4f73a1c5f2c2e172a9#subdirectory=bindings/torch
tokenizers==0.14.1
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.2
torch-ema==0.3
torch-fidelity==0.3.0
torchaudio==2.1.1+cu118
torchmetrics==1.2.0
torchvision==0.16.2
tornado==6.2
tqdm==4.66.2
traitlets==5.6.0
transformers==4.34.0
trimesh==4.0.1
trove-classifiers==2023.11.22
typeguard==2.13.3
typer==0.9.0
types-python-dateutil==2.8.19.14
typing_extensions==4.10.0
tyro==0.3.38
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.7
userpath==1.9.1
uvicorn==0.24.0.post1
virtualenv==20.24.7
viser==0.1.3
vtk==9.2.6
wandb==0.16.0
wcwidth==0.2.5
webcolors==1.13
webdataset==0.2.74
webencodings==0.5.1
websocket-client==1.3.3
websockets==11.0.3
Werkzeug==3.0.1
whitenoise==6.7.0
widgetsnbextension==4.0.9
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
wurlitzer==3.0.3
xatlas==0.0.8
xformers==0.0.22.post7
xgboost==2.0.2
xxhash==3.4.1
yarl==1.9.2
yourdfpy==0.0.53
zipp==3.11.0
